<!-- patTemplate:tmpl name="content" -->
<h1>{LABEL_TITLE}</h1>
<br/>
<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="notebox-alert">
   {ISI_PESAN}
</div>
<br/>
<!-- /patTemplate:tmpl -->
<form method="POST" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" name="frmInput" >
<input type="hidden" name="id_atk" value="{UPDATE_ID}" />
   <table width="100%" class="table-edit">
      <tr class="subhead">
         <th colspan="2">{JUDUL} {LABEL_INPUT}</th>
      </tr>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="kode_barang" / --></th>
         <td>
				{UPDATE_KODE_BARANG}
            <input type='hidden' name='barang_id' value='{UPDATE_BARANG_ID}' id='kode_barang_id'/>
            <input type='hidden' name='kode_barang' value='{UPDATE_KODE_BARANG}' id='kode_barang_hidden'/>
          </td>
      </tr>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="nama_barang" / --></th>
         <td>
				{UPDATE_NAMA_BARANG}
				<input type='hidden' name='nama_barang' value='{UPDATE_NAMA_BARANG}' id='nama_barang' size="30" readonly />
			</td>
      </tr>
      <!--
		<tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="label_barang" / --></th>
         <td>{UPDATE_LABEL_BARANG}</td>
      </tr>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="merk_barang" / --></th>
         <td>{UPDATE_MERK}</td>
      </tr>
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="spesifikasi" / --></th>
         <td>{UPDATE_SPESIFIKASI}</td>
      </tr>
		-->
      <tr>
         <th><!-- patTemplate:gtfwgetconfig config="language" name="gudang" / --></th>
         <td>
         	{UPDATE_GUDANG_NAMA}
				<input type='hidden' name='gudang' value='{UPDATE_GUDANG}' id='gudang' size="30" readonly />
         </td>
      </tr>
		<tr>
			<th width="197"><!-- patTemplate:gtfwgetconfig config="language" name="stok_minimal" / --></th>
			<td><input type="text" name="stok_minimal" value="{UPDATE_STOK_MINIMAL}" /></td>
		</tr>
		<tr>
			<th><!-- patTemplate:gtfwgetconfig config="language" name="keterangan_lain" / --></th>
			<td><textarea name="keterangan">{UPDATE_KETERANGAN}</textarea></td>
		</tr>
      <tr class="buttons">
      	<th></th>
      	<td><input type="submit" name="cari" value="Simpan"  class="buttonSubmit" /><input type="submit" name="cari" value="Batal"  class="buttonSubmit" /></td>
      </tr>
	</table>
</form>

<script>
function show_pop_up (url)
	{
		winpopup = showPopup(url, "", 550, 550);
		//winpopup.focus();
	}
</script>
<!-- /patTemplate:tmpl -->
